<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
  <div id="account">
    예금액 : <input type="text" v-model="amount">
    <br />
    회원님의 등급 : 
    <span v-if="amount >= 1000" >Gold</span>
    <span v-else-if="amount > 700">Silver</span>
    <span v-else-if="amount > 500">Bronze</span>
    <span v-else>Basic</span>
  </div>
  <script type="text/javascript">
      
      var simple = new Vue({
          el:'#account',
          data : {
              amount:0
          }
      })

  </script>
</body>
</html>
